img {
  display: block;
  max-width: 100%;
  margin: auto;
}
input,
.css-dpjnhs-MuiInputBase-root-MuiOutlinedInput-root {
  /* Gray/01 */

  background: #f6f6f6 !important;
  /* Gray/02 */

  color: "#BDBDBD";

  border: 1px solid #e8e8e8 !important;
  border-radius: 8px !important;
}
